{
  "printWidth": 100,
  "singleQuote": true,
  "useTabs": false,
  "tabWidth": 2,
  "semi": true,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "trailingComma": "none",
  "overrides": [
    {
      "files": "*.scss",
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
