* {
  box-sizing: border-box;
}

h1 {
  font-family: 'Roboto', sans-serif;
}

.side-nav {
  min-height: calc(100vh - 64px);
  padding: 24px;
}

.content {
  min-height: calc(100vh - 64px);
  padding: 24px;
}

.drop-target-container {
  display: flex;
  width: 100%;
  justify-content: stretch;
}

.drop-target {
  border-radius: 6px;
  border: 2px dashed gray;
  padding: 12px;
  width: 100%;
  transition: border-color 200ms ease-in-out;
}

.drop-target + .drop-target {
  margin-left: 12px;
}

.drag-source {
  width: 100%;
  transition: opacity 200ms ease-in-out;
}

.drag-source + .drag-source {
  margin-top: 12px;
}

.drag-source-dragging {
  opacity: 0.4;
}

.drop-target-dragging {
  border-color: blue;
}

.drop-target-over {
  border-color: green;
}
