<div class="sources">
  <div class="source" itemType="test" [item]="source" [dragPreview]="preview" ccDragSource *ngFor="let source of sources" ccDragSourceDragging="source-dragging">
    {{ source }}
  </div>
  <div class="source" ccDragSource itemType="test2" item="Outer" ccDragSourceDragging="source-dragging">
    Source
    <div class="source" itemType="test2" item="Inner" [dragPreview]="preview" style="background-color: lemonchiffon" ccDragSource
      ccDragSourceDragging="source-dragging">
      In Source
    </div>
  </div>
</div>

<div class="targets" ccDropTarget [itemType]="['lol']">
  <div ccDropTarget [itemType]="['test', 'test2']" (dropped)="onDrop($event)" [canDrop]="canDrop.bind(this)" class="target"
    ccDropTargetIsOver="target-active">
    Accept only
    <input [value]="accept" type="text" (input)="accept = $event.target.value" />
  </div>
  <div ccDropTarget itemType="test2" (dropped)="onDrop($event)" class="target" ccDropTargetIsOver="target-active" style="background-color: lightcoral;">
    Drop me here 2
    <div ccDropTarget itemType="test" (dropped)="onDrop($event)" class="target" ccDropTargetIsOver="target-active" style="background-color: lightsalmon; width: 200px; height: 100px;">Drop me here 2</div>
  </div>
</div>

<cc-drag-layer></cc-drag-layer>

<ng-template let-item let-canDrop="canDrop" #preview>
  <div class="preview" [class.preview-can-drop]="canDrop">{{item}}</div>
</ng-template>