<mat-toolbar color="primary" (click)="sideNav = false">
  <button mat-icon-button (click)="sideNav = !sideNav; $event.stopImmediatePropagation();">
    <mat-icon>menu</mat-icon>
  </button>
  <span>
    ng-dnd
  </span>
</mat-toolbar>
<mat-drawer-container class="container">
  <mat-drawer class="side-nav" mode="push" [opened]="sideNav" [autoFocus]="false" (openedChange)="sideNav = $event">
    <div>
      <button mat-button>
        <mat-icon>home</mat-icon>Github</button>

      <button mat-button>
        <mat-icon>home</mat-icon>Clipchamp</button>
    </div>
  </mat-drawer>
  <mat-drawer-content class="content">
    <h1>Simple</h1>
    <div class="drop-target-container">
      <div class="drop-target" ccDropTarget [itemType]="'simple2'" (dropped)="simpleDrop2($event)" ccDropTargetOver="drop-target-over"
        ccDropTargetDragging="drop-target-dragging">
        <mat-card class="drag-source" [itemType]="'simple'" [item]="simple" ccDragSource ccDragSourceDragging="drag-source-dragging"
          *ngFor="let simple of simpleSources">
          Item {{ simple }}
        </mat-card>
      </div>
      <div class="drop-target" ccDropTarget [itemType]="'simple'" (dropped)="simpleDrop($event)" ccDropTargetOver="drop-target-over"
        ccDropTargetDragging="drop-target-dragging">
        <mat-card class="drag-source" ccDragSource [itemType]="'simple2'" [item]="simple" ccDragSourceDragging="drag-source-dragging"
          *ngFor="let simple of simpleSources2">
          Item {{ simple }}
        </mat-card>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>