/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@include mat-core();

$cc-app-primary: mat-palette($mat-deep-purple);
$cc-app-accent: mat-palette($mat-deep-orange, A200, A100, A400);

// The warn palette is optional (defaults to red).
$cc-app-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$cc-app-theme: mat-light-theme($cc-app-primary, $cc-app-accent, $cc-app-warn);

@include angular-material-theme($cc-app-theme);

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

pre {
  margin: 0;
  white-space: nowrap;
  code {
    display: block;
    white-space: pre-wrap;
  }
}
